<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalEdit">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ path('form_exec_edit_specifique_order') }}" method="post" class="form-horizontal" id="form-edit">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title font_exo_2" id="myModalLabel">Editer un OL Offre intégrée Spécifique</h4>
                </div>
                <div class="modal-body">
                    <div class="main_container">
                        <input type="hidden" name="formAction" value="edit">
                        {{ form_errors(formEdit) }}
                        <div class="form-group">
                            {{ form_label(formEdit.site) }}
                            {{ form_errors(formEdit.site) }}
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-home fa" aria-hidden="true"></i></span>
                                    {{ form_widget(formEdit.site) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(formEdit.fixe1) }}
                            {{ form_errors(formEdit.fixe1) }}
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-home fa" aria-hidden="true"></i></span>
                                    {{ form_widget(formEdit.fixe1) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(formEdit.fixe2) }}
                            {{ form_errors(formEdit.fixe2) }}
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-home fa" aria-hidden="true"></i></span>
                                    {{ form_widget(formEdit.fixe2) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(formEdit.fixeBoost1) }}
                            {{ form_errors(formEdit.fixeBoost1) }}
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-home fa" aria-hidden="true"></i></span>
                                    {{ form_widget(formEdit.fixeBoost1) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(formEdit.fixeBoost2) }}
                            {{ form_errors(formEdit.fixeBoost2) }}
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-home fa" aria-hidden="true"></i></span>
                                    {{ form_widget(formEdit.fixeBoost2) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(formEdit.portable1) }}
                            {{ form_errors(formEdit.portable1) }}
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-home fa" aria-hidden="true"></i></span>
                                    {{ form_widget(formEdit.portable1) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(formEdit.portable2) }}
                            {{ form_errors(formEdit.portable2) }}
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-home fa" aria-hidden="true"></i></span>
                                    {{ form_widget(formEdit.portable2) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(formEdit.portableBoost1) }}
                            {{ form_errors(formEdit.portableBoost1) }}
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-home fa" aria-hidden="true"></i></span>
                                    {{ form_widget(formEdit.portableBoost1) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(formEdit.comments) }}
                            {{ form_errors(formEdit.comments) }}
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-home fa" aria-hidden="true"></i></span>
                                    {{ form_widget(formEdit.comments) }}
                                </div>
                            </div>
                        </div>
                        {{ form_rest(formEdit) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
                    <input type="submit" class="btn btn-success" name="sendAction" value="Sauvegarder">
                </div>
            </form>
        </div>
    </div>
</div>