{% extends 'AppBundle:Default:items.view.html.twig' %}
    {% block stylesheetsAdd %}
        <link href="{{ asset('css/bootstrap/fileinput.css') }}" media="all" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/datatables/buttons.dataTables.min.css') }}" media="all" rel="stylesheet" type="text/css" />
    {% endblock %}
    {% block title %} Liste des Tickets {% endblock %}
    {% block title2 %} Divers {% endblock %}
    {% block title3 %} Liste des Tickets {% endblock %}
    {% block breadcrumb %} Liste des Tickets {% endblock %}
    {% block corps_table_title %}
        <th class="admin_cat_table_title">N° Ticket</th>
        <th class="admin_cat_table_title">DSP(Etiquette)</th>
        <th class="admin_cat_table_title">Date Création</th>
        <th class="admin_cat_table_title">Status</th>
        <th class="admin_cat_table_title">S/N</th>
        <th class="admin_cat_table_title">Modèle</th>
        <th class="admin_cat_table_title">Type de Panne</th>
        <th class="admin_cat_table_title">Panne</th>
        <th class="admin_cat_table_title">Site</th>
        <th class="admin_cat_table_title">Date Fin de Garantie</th>
        <th class="admin_cat_table_title">Garantie Echue</th>
        <th class="admin_cat_table_title">Type de Garantie</th>
        <th class="admin_cat_table_title">Mode Achat</th>
        <th class="admin_cat_table_title">Commentaire</th>
        <th class="admin_cat_table_title">utilisateur</th>
    {% endblock %}
    {% block corps_table_cells %}
        {% for item in all %}
            <tr id="generalBtr" data-href="">
                <td class="admin_cat_table_cell">{{ item.id }}</td>
                <td class="admin_cat_table_cell">{{ item.dsp }}</td>
                <td class="admin_cat_table_cell">{{ item.createdAt|date("d-m-Y") }}</td>
                <td class="admin_cat_table_cell">{{ item.status }}</td>
                <td class="admin_cat_table_cell">{{ item.serial }}</td>
                <td class="admin_cat_table_cell">{{ item.product }}</td>
                <td class="admin_cat_table_cell">{{ item.typePanne }}</td>
                <td class="admin_cat_table_cell">{{ item.panne }}</td>
                <td class="admin_cat_table_cell">{{ item.site }}</td>
                <td class="admin_cat_table_cell">{{ item.endOfWarranty|date("d-m-Y") }}</td>
                <td class="admin_cat_table_cell">{% if item.endOfWarranty >= "now"|date("m-d-Y") %} Active {% endif %} {% if item.endOfWarranty < "now"|date("m-d-Y") %} Echue {% endif %}</td>
                <td class="admin_cat_table_cell">{{ item.typeWarranty }}</td>
                <td class="admin_cat_table_cell">{{ item.buyMode }}</td>
                <td class="admin_cat_table_cell">{{ item.comment }}</td>
                <td class="admin_cat_table_cell">{{ item.user }}</td>
                <td class="admin_cat_table_cell_action">
                    {% if item.isArchived == 0 %}
                        <button type="button" class="btn btn-default btn-xs" aria-label="Left Align" title="Editer {{ alert_text }}" onclick="ajaxTicketEdit('{{ entity }}', this.name);" data-toggle="modal" data-target="#modalEdit" id="editForm" name="{{ item.id }}">
                            <span class="glyphicon glyphicon-edit  btn-xs" aria-hidden="true"></span>
                        </button>
                        {#<a href="{{ path( remove_path , { 'itemDelete': item.id}) }}" title="Supprimer {{ alert_text }}" data-confirm="Etes-vous certain de vouloir archiver {{ alert_text }} ?">#}
                            {#<button type="button" class="btn btn-default  btn-xs" aria-label="Left Align">#}
                                {#<span class="glyphicon glyphicon-remove  btn-xs" aria-hidden="true"></span>#}
                            {#</button>#}
                        {#</a>#}
                    {% endif %}
                    {% if item.isArchived == 1 %}
                        {#<a href="{{ path( remove_path , { 'itemDelete': item.id}) }}" title="Supprimer {{ alert_text }}" data-confirm="Etes-vous certain de vouloir rétablir {{ alert_text }} ?">#}
                            {#<button type="button" class="btn btn-default  btn-xs" aria-label="Left Align">#}
                                {#<span class="glyphicon glyphicon-refresh  btn-xs" aria-hidden="true"></span>#}
                            {#</button>#}
                        {#</a>#}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endblock %}

    {% block modal_form %}

        {% embed "@ProserviaGestionReparation/Ticket/add.body.html.twig"  %}
        {% endembed %}


        {% embed "@ProserviaGestionReparation/Ticket/edit.body.html.twig"  %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/datatables/dataTables.buttons.min.js') }}"></script>
        <script src="{{ asset('js/datatables/buttons.flash.min.js') }}"></script>
        <script src="{{ asset('js/datatables/buttons.html5.min.js') }}"></script>
        <script src="{{ asset('js/datatables/buttons.print.min.js') }}"></script>
        <script src="{{ asset('js/datatables/jszip.min.js') }}"></script>
        <script src="{{ asset('js/datatables/pdfmake.min.js') }}"></script>
        <script src="{{ asset('js/datatables/vfs_fonts.js') }}"></script>
        <script src="{{ asset('js/bootstrap/bootstrap-datepicker.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap/locales/bootstrap-datepicker.fr.min.js') }}"></script>
        <script src="{{ asset('js/select2/select2.full.js') }}"></script>
        <script src="{{ asset('js/select2/i18n/fr.js') }}"></script>
        <script src="{{ asset('js/jquery/jquery.chained.min.js') }}"></script>
        <script src="{{ asset('js/canvas-to-blob.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/sortable.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/purify.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/bootstrap/fileinput.js') }}"></script>
        <script src="{{ asset('js/bootstrap/theme.js') }}"></script>
        <script src="{{ asset('js/bootstrap/fileinput-fr.js') }}"></script>


        <script>
            $(document).ready(function(){
                var table = $('#bootstrap-ticket').DataTable({
                    "dom": '<".todofilter"><B"top">rt<"bottom"p><"clear">B',
                    buttons: [
                        'copy', 'csv', 'excel', 'print'
                    ],
                    "order": [[ 0, "desc" ]],
                    bFilter: true,
                    bInfo: false,
                    bLengthChange:false,
                    "pageLength": 13,
                    "language": {
                        "paginate": {
                            "previous": "Préc.",
                            "next": "Suiv."
                        },
                        "zeroRecords": "Pas de données à Afficher",
                        "search": "Rechcerche"
                    },
                    "columnDefs": [
                        {
                            "targets": [ 11 ],
                            "visible": false
                        },
                        {
                            "targets": [ 12 ],
                            "visible": false
                        },
                        {
                            "targets": [ 13 ],
                            "visible": false
                        },
                        {
                            "targets": [ 14 ],
                            "visible": false
                        }
                    ]
                });
                $('.toggle-vis').on( 'change', function (e) {
                    var sel = document.getElementById('addHideColum');
                    var myVar = sel.options[sel.selectedIndex].value;
                    e.preventDefault();
                    // Get the column API object
                    var column = table.column( myVar );

                    // Toggle the visibility
                    column.visible( ! column.visible() );
                    $(".toggle-vis").val("");
                } );
                $('#global_filter').on( 'keyup click', function () {
                    filterGlobalTicket();
                } );
                $('.dt-button').addClass("btn btn-info");
            });
        </script>

        <script>
            $("#ticketEvent_file").fileinput();
        </script>
        <script>
            $('.select2-single').select2({
                theme: "bootstrap",
                width: null,
                containerCssClass: ':all:',
                placeholder: "Choisir une option"
            });
        </script>
        <script>
            $('#ticket_dsp').select2({
                theme: "bootstrap",
                width:null,
                placeholder: "Chercher un DSP",
                minimumInputLength: 4,
                ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                    url: "/ajax/etiquette_list/get/full/",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term, // search term
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        // parse the results into the format expected by Select2
                        // since we are using custom formatting functions we do not need to
                        // alter the remote JSON data, except to indicate that infinite
                        // scrolling can be used
                        params.page = params.page || 1;

                        return {
                            results: data.items,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                    cache: true
                },
                //formatResult: escapeMarkup, // omitted for brevity, see the source of this page
                //formatSelection: escapeMarkup,  // omitted for brevity, see the source of this page
                //dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
                escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
            });
        </script>

        <script>
            $('.select2-single-dsp').select2({
                theme: "bootstrap",
                width: null,
                containerCssClass: ':all:',
                tags: true,
                placeholder: "Choisir une option"
            });
        </script>
        <script>
            $('.datepicker').datepicker({
                format: "dd-mm-yyyy",
                startDate: "-7d",
                startView: 1,
                todayBtn: "linked",
                language: "fr",
                orientation: "auto right",
                daysOfWeekDisabled: "0,6",
                daysOfWeekHighlighted: "1,2,3,4,5",
                calendarWeeks: true,
                autoclose: true,
                todayHighlight: true
            });
        </script>
        <script>
            $('.monitor_dsp').change(function() {
                var what = document.getElementById("ticket_dsp");
                var valToCheck = what.options[what.selectedIndex].text;
                urlajax ="/ajax/dsp_infos/get/" + valToCheck;
                $.ajax({url:urlajax,success:function(result){
                    var frm = $("#form-add");
                    var i;
                    for (i in result) {
                        frm.find('[name="ticket[' + i + ']"]').val(result[i]);
                        $('.select2-single').select2({
                            theme: "bootstrap",
                            width: null,
                            containerCssClass: ':all:',
                            placeholder: "Choisir une option"
                        });
                    }
                }});
            });
        </script>
        <script>
            $("#ticket_panne").chained("#ticket_type_panne");
            $("#ticketEvent_status").chained("#ticketEvent_action");
        </script>
        <script>
            // Fonction de chargement Standard Edit
            function ajaxTicketEdit(url, editItem)
            {
                $('#mainEditModal').addClass('hide').removeClass("show");
                $('#statusDiv').addClass('hide').removeClass("show");
                $('#loading').addClass('show').removeClass("hide");
                urlajax ="/ajax/"+url+"/get/"+editItem;
                $.ajax({url:urlajax,success:function(result){
                    var frm_event = $("#form-events");
                    frm_event.find('[name="ticketEvent[status]"]').val(result.status);
                    frm_event.find('[name="ticketEvent[ticketId]"]').val(result.id);
                    frm_event.find('[name="ticketEvent[comment]"]').val("");
                    frm_event.find('[name="ticketEvent[action]"]').val("");
                    frm_event.find('[name="ticketEvent[file]"]').val("");
                    var frm = $("#form-edit");
                    var i;
                    for (i in result) {
                        frm.find('[name="'+url+'[' + i + ']"]').val(result[i]);
                        $('.select2-single').select2({
                            theme: "bootstrap",
                            width: null,
                            containerCssClass: ':all:',
                            placeholder: "Choisir une option"
                        });
                    }
                    urlajax ="/ajax/ticket_events/get/"+editItem;
                    $.ajax({url:urlajax,success:function(result2){
                        var textToAppend = '';
                        var h;
                        for (h in result2) {
                            textToAppend += '<tr id="generalBtr" data-href="" title="' + result2[h].commentaire + '">'+
                                '<td class="admin_cat_table_cell">' + result2[h].event + '</td>'+
                                '<td class="admin_cat_table_cell">' + result2[h].user + '</td>'+
                                '<td class="admin_cat_table_cell">' + result2[h].status + '</td>'+
                                '<td class="admin_cat_table_cell">' + result2[h].createdAt + '</td>';
                            textToAppend += '<td class="admin_cat_table_cell">';
                                if(result2[h].file == true) {

                                    urlajax ="/ajax/ticket_event_file/get/" + result2[h].id;
                                    $.ajax({url:urlajax,
                                        async:false,
                                        success:function(result3) {
                                        var k;
                                        for (k in result3) {
                                            textToAppend += '<a href="/web/uploaded_files/' + result.id +'/'+ result3[k].stockFileName +'/' + result3[k].originalFileName.replace(/[ ]/g, '_') +'">' +
                                                    result3[k].originalFileName +
                                            '</a>';
                                        }

                                    }});
                                }
                            textToAppend += '</td>'+ '</tr>';
                        }
                        document.getElementById('events_table').innerHTML = textToAppend;
                        $('#bootstrap-list-events').DataTable({
                            "dom": '<".todofilter"><"top">rt<"bottom"><"clear">',
                            "order": [[ 3, "desc" ]],
                            destroy: true,
                            bFilter: true,
                            bInfo: false,
                            bLengthChange:false,
                            "pageLength": 13,
                            "language": {
                                "paginate": {
                                    "previous": "Préc.",
                                    "next": "Suiv."
                                },
                                "zeroRecords": "Pas de données à Afficher",
                                "search": ""
                            }
                        });
                        $('#loading').addClass('hide').removeClass("show");
                        $('#mainEditModal').addClass('show').removeClass("hide");
                        $('#statusDiv').addClass('show').removeClass("hide");
                    }});
                }});
            }
        </script>
    {% endblock %}
