{% extends 'AppBundle:Default:items.view.html.twig' %}
    {% block stylesheetsAdd %}
        <link href="{{ asset('css/app/checkbox.css') }}" media="all" rel="stylesheet" type="text/css" />
    {% endblock %}

    {% block title %} Liste des Pannes {% endblock %}
    {% block title2 %} Divers {% endblock %}
    {% block title3 %} Liste des Pannes {% endblock %}
    {% block breadcrumb %} Liste des Pannes {% endblock %}
    {% block corps_table_title %}
        <th class="admin_cat_table_title">Username</th>
        <th class="admin_cat_table_title">Email</th>
        <th class="admin_cat_table_title">Rôle</th>
    {% endblock %}
    {% block corps_table_cells %}
        {% for item in all %}
            <tr id="generalBtr" data-href="">
                <td class="admin_cat_table_cell">{{ item.username }}</td>
                <td class="admin_cat_table_cell">{{ item.email }}</td>
                <td class="admin_cat_table_cell">{{ item.roles.0 }}</td>
                <td class="admin_cat_table_cell_action">

                    <button type="button" class="btn btn-default btn-xs" aria-label="Left Align" title="Editer {{ alert_text }}" onclick="ajaxCoreEdit('{{ entity }}', this.name);" data-toggle="modal" data-target="#modalEdit" id="editForm" name="{{ item.id }}">
                        <span class="glyphicon glyphicon-edit  btn-xs" aria-hidden="true"></span>
                    </button>
                    <a href="{{ path( remove_path , { 'itemDelete': item.id}) }}" title="Supprimer {{ alert_text }}" data-confirm="Etes-vous certain de vouloir archiver {{ alert_text }} ?">
                        <button type="button" class="btn btn-default  btn-xs" aria-label="Left Align">
                            <span class="glyphicon glyphicon-remove  btn-xs" aria-hidden="true"></span>
                        </button>
                    </a>

                </td>
            </tr>
        {% endfor %}
    {% endblock %}

    {% block modal_form %}

        {% embed "AppBundle:User:add.body.html.twig"  %}
        {% endembed %}


        {% embed "AppBundle:User:edit.body.html.twig"  %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
<script>
    $(document).ready(function() {
        var mail = document.getElementById("fos_user_registration_form_plainPassword_second");

        $("#fos_user_registration_form_plainPassword_first").keyup(function () {
            mail.value = this.value;
        });
    });
</script>
    {% endblock %}