{% extends 'AppBundle:Default:items.view.html.twig' %}
    {% block title %} Liste des Produits {% endblock %}
    {% block title2 %} Divers {% endblock %}
    {% block title3 %} Liste des Produits {% endblock %}
    {% block breadcrumb %} Liste des Produits {% endblock %}
    {% block corps_table_title %}
        <th class="admin_cat_table_title">Produit</th>
        <th class="admin_cat_table_title">Archivé ?</th>
        <th class="admin_cat_table_title">Catégorie</th>
        <th class="admin_cat_table_title">Offre</th>
        <th class="admin_cat_table_title">Type OL</th>
    {% endblock %}
    {% block corps_table_cells %}
        {% for item in all %}
            <tr id="generalBtr" data-href="">
                <td class="admin_cat_table_cell">{{ item.name }}</td>
                <td class="admin_cat_table_cell">{% if item.isArchived == 1 %} Oui {% endif %}{% if item.isArchived == 0 %}Non {% endif %}</td>
                <td class="admin_cat_table_cell">{{ item.category }}</td>
                <td class="admin_cat_table_cell">{{ item.offer }}</td>
                <td class="admin_cat_table_cell">{{ item.dispatch }}</td>
                <td class="admin_cat_table_cell_action">
                    {% if item.isArchived == 0 %}
                        <button type="button" class="btn btn-default btn-xs" aria-label="Left Align" title="Editer {{ alert_text }}" onclick="ajaxCoreEdit('{{ entity }}', this.name);" data-toggle="modal" data-target="#modalEdit" id="editForm" name="{{ item.id }}">
                            <span class="glyphicon glyphicon-edit  btn-xs" aria-hidden="true"></span>
                        </button>
                        <a href="{{ path( remove_path , { 'itemDelete': item.id}) }}" title="Supprimer {{ alert_text }}" data-confirm="Etes-vous certain de vouloir archiver {{ alert_text }} ?">
                            <button type="button" class="btn btn-default  btn-xs" aria-label="Left Align">
                                <span class="glyphicon glyphicon-remove  btn-xs" aria-hidden="true"></span>
                            </button>
                        </a>
                    {% endif %}
                    {% if item.isArchived == 1 %}
                        <a href="{{ path( remove_path , { 'itemDelete': item.id}) }}" title="Supprimer {{ alert_text }}" data-confirm="Etes-vous certain de vouloir rétablir {{ alert_text }} ?">
                            <button type="button" class="btn btn-default  btn-xs" aria-label="Left Align">
                                <span class="glyphicon glyphicon-refresh  btn-xs" aria-hidden="true"></span>
                            </button>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endblock %}

    {% block modal_form %}

        {% embed "@ProserviaCore/Product/add.body.html.twig"  %}
        {% endembed %}


        {% embed "@ProserviaCore/Product/edit.body.html.twig"  %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}

    {% endblock %}